body {
    font-family: "restore", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #FCE919;
    padding: 10px 0;
    text-align: center;
    font-family: "restore", sans-serif;
font-weight: 700;
font-style: normal;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #FCE919;
    padding: 10px 0;
    text-align: center;
    font-family: "restore", sans-serif;
font-weight: 300;
font-style: normal;
    text-decoration: none;
}

main {
    padding: 20px;
}